.resultPage {
  height: 100vh; /* 将容器高度设置为视口高度 */
  display: flex; /* 使用 flex 布局 */
  flex-direction: column; /* 垂直方向布局 */
  justify-content: center; /* 在垂直方向上居中 */
  align-items: center; /* 在水平方向上居中 */
  background-color: #bceec1;

  .title{
    color: #6d717f;
  }

  .subTitle{
    color: #525660;
  }

  .enterBtn{
    margin-top:48px ;
  }



}

